Repository recallwei/rspress-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: :hammer: bump rspress to 1.2.0
  package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: update
  .cspell.txt
  rspress.config.ts
Due: eslint --fix, prettier --write

chore: update
  styles/index.css
Due: prettier --write

chore: update prettier config
  .prettierrc.json
Due: none

chore: :hammer: update deps
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,css,scss})
